<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eventreminder" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/lets_celebrate"
        android:label="@string/app_name"
        android:supportsRtl="true"

        android:theme="@style/AppTheme.NoActionBar" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AddOccasionActivity"
            android:label="@string/title_activity_add_ocation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".activities.ShowOccasionsActivity"
            android:label="@string/title_activity_show_ocation"
            android:screenOrientation="portrait"

            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
